dados/prata/*
dados/ouro/*
!dados/**/.gitkeep
.venv/
__pycache__/
kaggle.json

# Ignora os dados do PRF e do DNIT, exceto arquivos ZIP.
dados/bronze/PRF/**
!dados/bronze/PRF/**/
!dados/bronze/PRF/**/*.zip

dados/bronze/DNIT/**
!dados/bronze/DNIT/**/
!dados/bronze/DNIT/**/*.zip