dados/prata/*
!dados/prata/.gitkeep
dados/ouro/*
!dados/**/.gitkeep
.venv/
__pycache__/
kaggle.json

src/test.py

# Ignora os dados do PRF e do DNIT, exceto arquivos ZIP.
dados/bronze/PRF/**
!dados/bronze/PRF/**/
!dados/bronze/PRF/**/*.zip

dados/bronze/DNIT/**
!dados/bronze/DNIT/**/
!dados/bronze/DNIT/**/*.zip

